<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Email Spam Detector</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <h1>Email Spam Detector</h1>
                    <p>something about this       eeeeeeeeeeeee fgfh hgg hgfhh gdgrg gg gr e r err rge recercrgcer</p>
                    <form >
                        <input type="text" placeholder="place the email which you want to check">
                        <button type="submit" class="btn">Check</button>
                    </form>
                </div>
                <div class="col-2">
                    <div class="result">
                        <p>The result of the code here</p>
                        <!-- {{ param comming from bacl end}} -->
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>